.alpine-skiing-event {
    background-color: #ED9C22;
}

.biathlon-event {
    background-color: lightcoral;
}

.bobsleigh-event {
    background-color: lightseagreen;
}

.cross-country-skiing-event {
    background-color: #EE82EE;
}

.curling-event {
    background-color: #00FFFF;
}

.figure-skating-event {
    background-color: lightsalmon;
}

.freestyle-skiing-event {
    background-color: #00FF00;
}

.ice-hockey-event {
    background-color: #ADD8E6;
}

.luge-event {
    background-color: #28C041;
}
.nordic-combined-event {
    background-color: #40E0D0;

}
.short-track-speed-skating-event {
    background-color: #B884E7;
}
.skeleton-event {
    background-color: #808000;
}
.ski-jumping-event {
    background-color: #FF8C00;
}
.snowboard-event {
    background-color: #FFC0CB;
}

.speed-skating-event {
    background-color: #FFFF00FF;
}

.ceremony-event {
    background-color: #A9A9A9;
}
