<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Olympic Planner</title>
    <link rel="stylesheet"
              href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
</head>
<body>
    <a href="{{ url_for("bp_open.index") }}">Home</a>
    <a href="{{ url_for("bp_open.signup_get") }}">Sign Up</a>
    <a href="{{ url_for("bp_open.signin_get") }}">Sign In</a>
    {% block content %}
    {% endblock %}

    {% block script %}
    {% endblock %}

</body>
</html>