<!DOCTYPE html>
<html lang="en">
<head>
<!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='css/base_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>The Olympic Planner</title>

    <script type="text/javascript" src="{{ url_for('static', filename='js/functions.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">The Olympic Planner</a>
{#            This button becomes visible when you use a small screen. Then the menu options will show as a dropdown from a button instead of a navigation bar.#}
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
            <!-- From Olympic planner, but added class from test bootstrap -->
{#                <a class="nav-item nav-link" href="{{ url_for("bp_open.index") }}">Home</a>#}
                {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('bp_user.schedules_get') }}">Create Schedule</a>
                    <a class="nav-item nav-link" href="{{ url_for('bp_user.my_schedules_get') }}">My Schedules</a>
                    <a class="nav-item nav-link ml-auto" href="{{ url_for('bp_user.signout_get') }}">Sign Out</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ url_for("bp_open.signup_get") }}">Sign Up</a>
                    <a class="nav-item nav-link" href="{{ url_for("bp_open.signin_get") }}">Sign In</a>
                {% endif %}
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                {% if current_user.is_authenticated %}
{#                    <a href="{{ url_for('bp_user.profile_get') }}"><a href="{{ current_user.avatar }}"></a> </a>#}
                    <a class="nav-item nav-link" href="{{ url_for("bp_user.profile_get") }}">
                        <img src="../static/img/avatar.png" alt="My profile" width="40px" height="40px">
                    </a>
                {% else %}
    {#              <a class="nav-item nav-link" href="{{ url_for("bp_open.signup_get") }}">Sign Up</a>#}
    {#              <a class="nav-item nav-link" href="{{ url_for("bp_open.signin_get") }}">Sign In</a>#}
                {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container" style="max-height: 85vh">
        <div class="row" style="max-height: inherit">
            <div class="col-md-12" style="max-height: inherit">
              {% block content12 %}{% endblock %}
              <div class="row">
                <div class="col-md-8">
                  {% block content8 %}{% endblock %}
                </div>
                <div class="col-md-4">
                  {% block content4 %}{% endblock %}
                </div>
              </div>
            </div>
        </div>
{#      <footer class="container-fluid text-center">#}
{#        <p>Footer Text</p>#}
{#      </footer>#}
    </main>

    {% block scripts %}
    {% endblock %}
    <!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>