<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .container {

        height: 500px;
        background-color: lightgray;
        display: flex;
        justify-content: flex-end;

    }

    #to {
        margin: 0 auto;
        width: 50%;
        height: 500px;
        background-color: rgb(151, 147, 147);
    }

    #from {
        margin: 0 auto;
        width: 50%;
        height: 500px;
        background-color: rgb(199, 23, 23);
    }

    .clonable {
        width: 75px;
        height: 50px;
        background-color: lightseagreen;
        margin: 30px;
    }
    td {
        border: 1px solid black;
    }
</style>

<body>
    <div class="container">

        <div id="to">
            <table id="to-table">
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                    <th>Event2</th>
                    <th>Event3</th>
                    <th>Event4</th>
                </tr>
                <tr id="t-one">
                    <td>09:00-09:15
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="t-two">
                    <td>09:15-09:30
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="t-three">
                    <td>09:30-09:45
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="t-four">
                    <td>09:30-09:45
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr id="t-five">
                    <td>09:30-09:45
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </table>
        </div>

        <div id="from">
            <table id="from-table">
                <tr>
                    <th>Time</th>
                    <th>Event</th>
                    <th>Event2</th>
                    <th>Event3</th>
                    <th>Event4</th>
                </tr>
                <tr id="f-one">
                    <td>09:00-09:15
                    </td>
                    <td>
                        <div id="first" class="clone-me clonable">AAA</div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="f-two">
                    <td>09:15-09:30
                    </td>
                    <td rowspan=2>
                        <div id="third" class="clone-me clonable">CCC</div>
                    </td>
                    <td></td>
                    <td rowspan=3> 
                        <div id="second" class="clone-me clonable">BBB</div>
                    </td>
                    <td></td>
                </tr>
                <tr id="f-three">
                    <td>09:30-09:45
                    </td>

                    <td></td>
                    
                    <td></td>
                </tr>
                <tr id="f-four">
                    <td>09:30-09:45
                    </td>
     
                    <td></td>
                    
                    
                    <td></td>
                    <td></td>
                </tr>
                <tr id="f-five">
                    <td>09:30-09:45
                    </td>
                    <td>
                        
                    </td>
                    <td></td>
                    
                    <td></td>
                    <td></td>
                </tr>
            </table>

            
        </div>

        <script>
            const clonableDivs = document.querySelectorAll(".clone-me");
            clonableDivs.forEach(div => {
                div.addEventListener("click", moveIt);
            });


            function moveIt(e) {
                // Get the div that we clicked
                //Is targetDiv the div or an element inside it?
                let targetDiv = e.target;
                // Get the cell hosting the div in the from table
                let targetCell = targetDiv.parentElement;
                // Get the id of the row containing the div
                let parentRowId = targetDiv.parentElement.parentElement.id;
                // Get the id of the row in the destination table
                let destinationRowId = 't' + parentRowId.substring(1);

                // Get the current cells rowspan
                let rowspan = targetCell.rowSpan;

                // Get the destination table
                let toTable = document.getElementById("to-table");
                
                // Remove the div from the original table
                targetDiv.parentElement.removeChild(targetDiv);

                // Iterate over the destination table row by row
                for (let row of toTable.rows) {
                    // If we have found our destination row
                    if(row.id === destinationRowId){
                        // Add the div in the correct column
                        row.cells[targetCell.cellIndex].appendChild(targetDiv);
                        // Add the rowspan we want to this column. If no rowspan
                        // was given, the value will be 1
                        row.cells[targetCell.cellIndex].rowSpan = rowspan;
                        // If we have a rowspan we need to delete the td's for as many
                        // rows as the span is
                        if(rowspan > 1) {
                            // Get the current row index
                            let rowIndex = targetCell.parentElement.rowIndex;
                            // and the column index
                            let cellIndex = targetCell.cellIndex;
                            // For each row below the one we inserted the div in
                            // we can now delete the td's 
                            for(let i = 1; i < rowspan; i++) {
                                let row = toTable.rows[rowIndex + i];
                                row.deleteCell(cellIndex);
                            }
                        }
                    }
                }
            }
        </script>
    </div>
</body>

</html>