{% extends "base_template.html" %}
{% set active_page = "schedules" %}

{%  block content12 %}
    <div class="content-section" style="max-height: inherit">
        <div class="container-fluid">
            <p> Some text maybe. </p>
        </div>
        <div class="container-fluid">
            <form class="col-md-12 d-flex justify-content-left my-4" action="{{ url_for("bp_user.change_date_post") }}" method="POST">
                <div class="btn-group" role="group" aria-label="Change date-buttons">
                    <input type="submit" class="form-control mr-2" name="date_action" value="Today"/> <br/>
                    <input type="submit" class="form-control mr-2" name="date_action" value="First day"/> <br/>
                    <input type="submit" class="form-control mr-2" name="date_action" value="Previous"/> <br/>
                    <input type="submit" class="form-control btn-info mr-2" name="date_action" value=" Showing: {{ shown_date }}"/> <br/>
                    <input type="submit" class="form-control mr-2" name="date_action" value="Next"/> <br/>
                    <input type="submit" class="form-control mr-2" name="date_action" value="Last day"/> <br/>
                    <input type="hidden" name="shown_date" value="{{ shown_date }}"/>
                </div>
            </form>
        </div>
        <div class="container-fluid overflow-auto" style="max-height: 78%">
            <div class="row">
                <div class="container col-md-7 overflow-auto">
                    {% for schedule in schedules %}
                        {% if shown_date in schedule[0] %}
                            <div class="base-schedule">
                                {{ schedule[1] | safe }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="container col-md-4 overflow-auto">
                    {% for personal_schedule in personal_schedules %}
                        {% if shown_date in personal_schedule[0] %}
                            <div class="personal-schedule">
                                {{ personal_schedule[1] | safe }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        let element = document.getElementsByClassName("ceremony")
        console.log(element);
    </script>
{% endblock %}
