{% extends "base_template.html" %}

{% block content12 %}
    <div class="content-section overflow-auto" style="max-height: inherit">

        <p>Choose the disciplines of interest:</p>

        {#<input type="button" onclick="selects()" value="Select All">#}
        {#<br>#}
        {#<input type="button" onclick="deSelect()" value="Deselect All">#}
        {#<br>#}

        {#<a href="#" onclick="javascript:toggleCheck(true,this);" class="btn">Select All</a>&nbsp;#}
        {#<br>#}
        {#<a href="#" onclick="javascript:toggleCheck(false,this);" class="btn">Deselect All</a>#}
        {#<br>    #}

        <form id="disciplines" action="{{url_for("bp_user.select_disciplines_post")}}" method="POST">
            <div class="checkbox-container">
              <input type="checkbox" id="d1" name="discipline" value="alpine">
              <label for="d1">Alpine Skiing</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d2" name="discipline" value="biathlon">
              <label for="d2">Biathlon</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d3" name="discipline" value="bobsleigh">
              <label for="d3">Bobsleigh</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d4" name="discipline" value="cross-country">
              <label for="d4">Cross-Country Skiing</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d5" name="discipline" value="curling">
              <label for="d5">Curling</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d6" name="discipline" value="figure_skating">
              <label for="d6">Figure Skating</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d7" name="discipline" value="freestyle">
              <label for="d7">Freestyle Skiing</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d8" name="discipline" value="ice_hockey">
              <label for="d8">Ice Hockey</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d9" name="discipline" value="luge">
              <label for="d9">Luge</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d10" name="discipline" value="nordic">
              <label for="d10">Nordic Combined</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d11" name="discipline" value="short_track">
              <label for="d11">Short Track Speed Skating</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d12" name="discipline" value="skeleton">
              <label for="d12">Skeleton</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d13" name="discipline" value="ski_jumping">
              <label for="d13">Ski Jumping</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d14" name="discipline" value="snowboard">
              <label for="d14">Snowboard</label>
            </div>
            <div class="checkbox-container">
              <input type="checkbox" id="d15" name="discipline" value="speed_skating">
              <label for="d15">Speed Skating</label>
            </div>
            <div>
                <input name="hiddenList" type="hidden" id="isHidden" />
                <input type="submit" class="btn btn-primary" onclick="sendIt()" value="Select And Go To Next Step">
            </div>
        </form>
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">

let chosenDisciplines = [];
document.getElementById("disciplines").onsubmit = () => {
    document.getElementById("isHidden").checked = JSON.stringify(chosenDisciplines)
}
function isChecked() {
    let discipline = document.forms[0]; {# Why [0]? #}
    let discipline_array = [];
    for (let i = 0; i < discipline.length; i++) {
        if (discipline[i].checked) {
            discipline_array.push(discipline[i].value);
        }
    }
    console.log(discipline_list)
    {#Loop through the id:s and add all with true value to a list?#}
}

//The function of the submit button

    {#Don't need the one below?#}
    {#document.getElementById("continue").onclick = function () {#}
    {#    location.href = "{{ url_for('bp_user.select_countries_get') }}";#}
{
    #}
    #}



}
   {#document.getElementById("continue").onclick = function () {#}
   {#     location.href = "{{ url_for("bp_user.select_countries_get") }}";#}
   {# };#}




//Select or deselect all
function toggleCheck(state, elem) {
  jQuery(elem).closest("form").find("input:checkbox").prop('checked', state);
}
            {#function selects(){#}
            {#    var ele=document.getElementsByName('discipline');#}
            {#    for(var i=0; i<ele.length; i++){#}
            {#        if(ele[i].type=='checkbox')#}
            {#            ele[i].checked=true;#}
            {#    }#}
            {# }#}
            {#function deSelect(){#}
            {#    var ele=document.getElementsByName('discipline');#}
            {#    for(var i=0; i<ele.length; i++){#}
            {#        if(ele[i].type=='checkbox')#}
            {#            ele[i].checked=false;#}
            {##}
            {#    }#}
            {# }#}
            {##}

{#// Listen for click on toggle checkbox#}
{#$('#all').click(function(event) {#}
{#    if(this.checked) {#}
{#        // Iterate each checkbox#}
{#        $(':checkbox').each(function() {#}
{#            this.checked = true;#}
{#        });#}
{#    } else {#}
{#        $(':checkbox').each(function() {#}
{#            this.checked = false;#}
{#        });#}
{#    }#}
{# });#}
function sendIt() {
    console.log('sendIt')
    let discipline = document.forms[0]; {# Why [0]? #}
    let discipline_array = [];
    for (let i = 0; i < discipline.length; i++) {
        if (discipline[i].checked) {
            discipline_array.push(discipline[i].value);
        }
    }
    let chosenForm = document.getElementById("disciplines");
    chosenForm.submit();
}
</script>



{% endblock %}
