{% extends "base_template.html" %}
{% set active_page = "create_schedule" %}

{%  block content8 %}
    <div class="content-section">
        <div class="container-fluid float-left mb-md-5">
            <h2>Welcome {{ current_user.first_name }}!</h2>
            <p>Congratulations on your excellent decision to use The Olympic Planner!<br>Create a new schedule, or open an existing one.</p>
            <br>
            <div class="container col-md-2 float-left mr-3">
                <form action="{{ url_for("bp_user.select_disciplines_get") }}">
                    <input type="submit" class="btn btn-primary" onclick="isChecked()" value="Create a new schedule">
                </form>
            </div>
            <div class="container col-md-3 float-left">
                <form action="{{ url_for("bp_user.my_schedules_post") }}" method="POST">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Open a saved schedule</button>
                        <ul class="dropdown-menu" role="menu">
                                {% for schedule in current_user.schedules %}
                                    <a><input type="submit" class="dropdown-item" name="schedule_name" value="{{ schedule.schedule_name }}"/></a>
                                {% endfor %}
                                <input type="hidden" name="shown_date" value="{{ shown_date }}"/>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>

 {% endblock %}

        <form action="{{ url_for("bp_user.my_schedules_post") }}" method="POST">
        {% for schedule in current_user.schedules %}
            <a><input type="submit" class="dropdown-item" name="schedule_name" value="{{ schedule.schedule_name }}"/></a>
        {% endfor %}
            <input type="hidden" name="shown_date" value="{{ shown_date }}"/>
        </form>
