{% extends "base_template.html" %}
{% set active_page = "schedules" %}

{%  block content %}
    <div class="content-section">
        <h1>Welcome {{ current_user.first_name }}!</h1>
            <div class="container-fluid">
                <p>Congratulations on your excellent decision to use The Olympic Planner! Click next to create a new schedule, or open an existing one.</p>
            </div>
    </div>
 {% endblock %}

{%  block other_content %}
    <div class="content-section">
        <h3>Saved Schedules</h3>
        <p class='text-muted'>If you have any saved schedules, they will show here:</p>
            <ul class="list-group">
{#            {% for schedule in current_user.schedules %}#}
            {% for schedule in schedules %}
                <li class="list-group-item list-group-item-light">{{ schedule }}</li>
            {% endfor %}
            </ul>
    </div>
{% endblock %}

