{% extends "base_template.html" %}
{% set active_page = "schedules" %}

{%  block content12 %}
    <div class="content-section" style="max-height: inherit">
        <div class="container-fluid">
           <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Filter
           </button>
        </div>
        <div class="container-fluid">
            <form class="col-md-12 d-flex justify-content-left my-4" action="{{ url_for("bp_user.change_date_post") }}" method="POST">
                <div class="btn-group" role="group" aria-label="Change date-buttons">
                    <input type="submit" class="form-control mr-2" name="date_action" value="Today"/> <br/>
                    <input type="submit" class="form-control mr-2" name="date_action" value="First day"/> <br/>
                    <input type="submit" class="form-control mr-2" name="date_action" value="Previous"/> <br/>
                    <input type="submit" class="form-control btn-info mr-2" name="date_action" value=" Showing: {{ shown_date }}"/> <br/>
                    <input type="submit" class="form-control mr-2" name="date_action" value="Next"/> <br/>
                    <input type="submit" class="form-control mr-2" name="date_action" value="Last day"/> <br/>
                    <input type="hidden" name="shown_date" value="{{ shown_date }}"/>
                </div>
            </form>
        </div>
        <div class="container-fluid overflow-auto" style="max-height: 78%">
            <div class="row">
                <div class="container col-md-7 overflow-auto">
                    {% for schedule in schedules %}
                        {% if shown_date in schedule[0] %}
                            <div class="base-schedule">
                                {{ schedule[1] | safe }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="container col-md-4 overflow-auto">
                    {% for personal_schedule in personal_schedules %}
                        {% if shown_date in personal_schedule[0] %}
                            <div class="personal-schedule">
                                {{ personal_schedule[1] | safe }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    <div class="container">
                <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Filter on competition types</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                      <form id="competition_types" action="{{ url_for("bp_user.select_competition_types_post") }}" method="POST">
                          <div class="modal-body">
                            {% for competition_type in competition_types %}
                                <div class="checkbox-container">
                                    <input type="checkbox" id="d{{ loop.index }}" name="{{ competition_type }}" value="{{ competition_type }}">
                                    <label for="d{{ loop.index }}">{{ competition_type }}</label>
                                </div>
                            {% endfor %}
                          </div>
                          <div class="modal-footer">
                            <input name="hiddenList" type="hidden" id="isHidden" />
                            <input type="submit" class="btn btn-primary" id="submit" value="Save changes"/>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                      </form>
                </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">

    let chosenCompetitionTypes = [];
    document.getElementById("competition_types").onsubmit = () => {
        document.getElementById("isHidden").checked = JSON.stringify(chosenCompetitionTypes)
    }
    function isChecked() {
        let competition_type = document.forms[0]; {# Why [0]? #}
        let competition_type_array = [];
        for (let i = 0; i < competition_type.length; i++) {
            if (competition_type[i].checked) {
                competition_type_array.push(competition_type[i].value);
            }
        }
    }

    //Select or deselect all
    function toggleCheck(state, elem) {
      jQuery(elem).closest("form").find("input:checkbox").prop('checked', state);
    }
    function sendIt() {
        let chosenForm = document.getElementById("competition_types");
        chosenForm.submit();
    }
</script>
{% endblock %}
