{% extends "base_template.html" %}
{% set active_page = "schedules" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/table_style.css") }}">
{% endblock %}

{%  block content12 %}
    <div class="content-section">
        <h1>Congratulations!</h1>
            <div class="container-fluid">
                <p> Here is a filtered version of the main schedule. If you like it as it is, you can
                    copy all of it to your personal schedule. If you want, you can fine tune the main schedule with
                    filters. Then you can either copy the whole main schedule to your personal schedule, or drag and
                    drop to add events from the main schedule to your personal schedule. </p>
                <p>2022-02-07</p>
            </div>
    </div>
{% endblock %}
{% block content8 %}
    <div>
        {{ schedule | safe }}
    </div>
{% endblock %}




{#{% block content4 %}#}
{#    <div>#}
{#        <table>#}
{#        <tr>#}
{#            <th></th>#}
{#            {% for column in priority_columns %}#}
{#                <th>{{ column }}</th>#}
{#            {% endfor %}#}
{#        </tr>#}
{#        {% for row in personal_schedule %}#}
{#            <tr>#}
{#                <td>{{ time_slots[loop.index - 1] }} </td>#}
{#                {% for cell in row %}#}
{#                    <td>{{ cell }}</td>#}
{#                {% endfor %}#}
{#            </tr>#}
{#        {% endfor %}#}
{#    </table>#}
{#    </div>#}
{#{% endblock %}#}


{% block scripts %}
{% endblock %}
