{% extends "base_template.html" %}

{% block content8 %}
    <div class="content-section overflow-auto" style="max-height: inherit">

        <h3>Please select the disciplines of interest!</h3>
        <p>Hint: Leave all checkboxes blank to get all disciplines.</p>

        <form id="disciplines" action="{{url_for("bp_user.select_disciplines_post")}}" method="POST">
            {% for discipline in disciplines %}
                <div class="checkbox-container">
                    <input type="checkbox" id="d{{ loop.index }}" name="{{ discipline }}" value="{{ discipline }}">
                    <label for="d{{ loop.index }}">{{ discipline }}</label>
                </div>
            {% endfor %}

            <div>
                <input name="hiddenList" type="hidden" id="isHidden" />
                <input type="submit" class="btn btn-primary" onclick="sendIt()" value="Select And Go To Next Step">
            </div>
        </form>
    </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">

let chosenDisciplines = [];
document.getElementById("disciplines").onsubmit = () => {
    document.getElementById("isHidden").checked = JSON.stringify(chosenDisciplines)
}
function isChecked() {
    let discipline = document.forms[0];
    let discipline_array = [];
    for (let i = 0; i < discipline.length; i++) {
        if (discipline[i].checked) {
            discipline_array.push(discipline[i].value);
        }
    }
}


function sendIt() {
    let chosenForm = document.getElementById("disciplines");
    chosenForm.submit();
}
</script>



{% endblock %}
