{% extends "user.html" %}

<p>Choose the disciplines of interest:</p>

<div>
  <input type="checkbox" id="alpine" name="alpine"
         checked>
  <label for="alpine">Alpine Skiing</label>
</div>

<div>
  <input type="checkbox" id="biathlon" name="biathlon">
  <label for="biathlon">Biathlon</label>
</div>

<div>
  <input type="checkbox" id="bobsleigh" name="bobsleigh">
  <label for="bobsleigh">Bobsleigh</label>
</div>

<div>
  <input type="checkbox" id="cross-country" name="cross-country">
  <label for="cross-country">Cross-Country Skiing</label>
</div>

<div>
  <input type="checkbox" id="curling" name="curling">
  <label for="curling">Curling</label>
</div>

<div>
  <input type="checkbox" id="figure" name="figure">
  <label for="figure">Figure Skating</label>
</div>

<div>
  <input type="checkbox" id="freestyle" name="freestyle">
  <label for="freestyle">Freestyle Skiing</label>
</div>

<div>
  <input type="checkbox" id="hockey" name="hockey">
  <label for="hockey">Ice Hockey</label>
</div>

<div>
  <input type="checkbox" id="luge" name="luge">
  <label for="luge">Luge</label>
</div>

<div>
  <input type="checkbox" id="nordic" name="nordic">
  <label for="nordic">Nordic Combined</label>
</div>

<div>
  <input type="checkbox" id="short_track" name="short_track">
  <label for="short_track">Short Track Speed Skating</label>
</div>

<div>
  <input type="checkbox" id="skeleton" name="skeleton">
  <label for="skeleton">Skeleton</label>
</div>

<div>
  <input type="checkbox" id="ski_jumping" name="ski_jumping">
  <label for="ski_jumping">Ski Jumping</label>
</div>

<div>
  <input type="checkbox" id="snowboard" name="snowboard">
  <label for="snowboard">Snowboard</label>
</div>

<div>
  <input type="checkbox" id="speed" name="speed">
  <label for="speed">Speed Skating</label>
</div>