{% extends "base_template.html" %}
{% set active_page = "/user/my_schedule" %}

{%  block content4 %}
    <div class="content-section">
        <h1>This is the page where {{ current_user.first_name }} will find the personal schedule!</h1>
        <div class="container-fluid">
            {% for day_schedule in personal_schedule %}
                {{ day_schedule[0] | safe }}
                <div class="personal-schedule">
                    {{ day_schedule[1] | safe }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{%  block content8 %}
    <div class="content-section overflow-auto">
        <h1>{{ current_user.first_name }}'s personal schedule for {{ shown_date }}</h1>
        <div class="container">

        <form class="col-md-4" action="{{ url_for("bp_user.my_schedules_post") }}" method="POST">
{#            <input type="submit" class="form-control" name="shown_date" value="{{ shown_date }}"/> <br/>#}
            <input type="submit" class="form-control" name="date_action" value="Next"/> <br/>
            <input type="hidden" name="shown_date" value="{{ shown_date }}"/>
        </form>

        <div class="content-section">
            {% for day_schedule in personal_schedule %}
                {% if shown_date in day_schedule[0] %}
                    <div class="personal-schedule">
                        {{ day_schedule[1] | safe }}
                    </div>
                {% else %}
                    <p>{{ day_schedule[0] | safe }}</p>
                {% endif %}
            {% endfor %}

        </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>

    </script>

{% endblock %}
