{%  extends "base_template.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="notification">
                    {{ message }}
                </div>
            {%  endfor %}
        {% endif %}
    {%  endwith %}
    <form action="{{ url_for("bp_open.signin_post") }}" method="POST">
        <input type="email" placeholder="Email Address" name="email"/> <br/>
        <input type="password" placeholder="Password" name="password"/> <br/>
        <input type="submit" value="OK" />
    </form>
{% endblock %}