{%  extends "base_template.html" %}

{% block content12 %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="notification">
                        {{ message }}
                    </div>
                {%  endfor %}
            {% endif %}
        {%  endwith %}
        <form class="col-md-4" action="{{ url_for("bp_open.signup_post") }}" method="POST">
            <input type="text" class="form-control" placeholder="First Name" name="first_name"/> <br/>
            <input type="text" class="form-control" placeholder="Last Name" name="last_name"/> <br/>
            <input type="email" class="form-control" placeholder="Email Address" name="email"/> <br/>
            <input type="password" class="form-control" id="pwd1" oninput="verifyPassword()" placeholder="Password" name="password"/>
            <span id="pwd-message"></span><br/>
            <input type="password" class="form-control" id="pwd2" oninput="checkPassword()" placeholder="Repeat Password" disabled/> <br/>
            <input type="submit" class="btn btn-primary" id="submit" value="Sign up!" disabled/>
        </form>
{% endblock %}

{% block scripts %}
    <script>
        function checkPassword() {
            let pwd1 = document.getElementById("pwd1");
            let pwd2 = document.getElementById("pwd2");
            document.getElementById("submit").disabled = pwd1.value !== pwd2.value;
        }

        function verifyPassword() {
            let pwdInput = document.getElementById("pwd1");
            let pwdMessage = document.getElementById("pwd-message");
            let resultObj = CheckPassword(pwdInput.value);
            pwdMessage.innerHTML = resultObj.message;
            document.getElementById("pwd2").disabled = !resultObj.result;
        }

        function CheckPassword(inputText) {
            let pattern = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{6,1000}$/;
            let obj = {}
            if (inputText.match(pattern)) {
                obj.result = true;
                obj.message = "";
            } else {
                obj.result = false;
                obj.message = "Password must be 6 characters long and contain at least 1 lower case letter, 1 upper " +
                              "case letter, 1 digit, and 1 special character."
            }
            return obj;
        }

    </script>
{% endblock %}