{%  extends "base_template.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="notification">
                    {{ message }}
                </div>
            {%  endfor %}
        {% endif %}
    {%  endwith %}
    <form action="{{ url_for("bp_open.signup_post") }}" method="POST">
        <input type="text" placeholder="First Name" name="first_name"/> <br/>
        <input type="text" placeholder="Last Name" name="last_name"/> <br/>
        <input type="email" placeholder="Email Address" name="email"/> <br/>
        <input type="password" placeholder="Password" name="password"/> <br/>
        <input type="submit" value="Sign up!" />
    </form>
{% endblock %}
{% block scripts %}
    <script>
        function checkPassword() {
            let pwd1 = document.getElementById("pwd1");
            let pwd2 = document.getElementById("pwd2");
            if(pwd1.value === pwd2.value) {
                document.getElementById("submit").disabled = false;
            }
            else {
                document.getElementById("submit").disabled= true;
            }
        }

    </script>
{% endblock %}