<div class="base-schedule">
    <div id='2022-02-03'>
        <table>
            <tr>
                <th></th>
                <th><span class='alpine'>Alpine skiing</span></th>
                <th><span class='biathlon'>Biathlon</span></th>
                <th><span class='bobsleigh'>Bobsleigh</span></th>
                <th><span class='cross-country'>Cross-country skiing</span></th>
                <th><span class='curling'>Curling</span></th>
                <th><span class='figure-skating'>Figure skating</span></th>
                <th><span class='freestyle'>Freestyle skiing</span></th>
                <th><span class='ice-hockey'>Ice hockey</span></th>
                <th><span class='luge'>Luge</span></th>
                <th><span class='noc'>Nordic combined</span></th>
                <th><span class='short-track'>Short track speed skating</span></th>
                <th><span class='skeleton'>Skeleton</span></th>
                <th><span class='ski-jumping'>Ski jumping</span></th>
                <th><span class='snowboard'>Snowboard</span></th>
                <th><span class='speed-skating'>Speed skating</span></th>
                <th><span class='ceremony'>Ceremony</span></th>
            </tr>
            <tr>
                <td><span class='time-slot'>01:30</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class='time-slot'>01:45</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span class='time-slot'>02:00</span></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class='<div class=' event
                ' id='62022c811853fe6c508b52ef'><span class='start-time'>02:05</span>-<span
                    class='end-time'>04:00</span>
                <span class='discipline'>Curling</span> <span class='sex'>women, men</span>. <span class='description'>Mixed doubles</span>,
                <span class='competition_type'>round robin, session 2</span>. <p class='participating-countries'>
                Australia-China</p>
    </div>
    -event' rowspan ='8'>
    <div class='event' id='62022c811853fe6c508b52ef'><span class='start-time'>02:05</span>-<span
            class='end-time'>04:00</span>
        <span class='discipline'>Curling</span> <span class='sex'>women, men</span>. <span class='description'>Mixed doubles</span>,
        <span class='competition_type'>round robin, session 2</span>. <p class='participating-countries'>
            Australia-China</p></div>
    <p class='participating_countries'>Sweden-Czech Republic</p>
    <p class='participating_countries'>USA-Italy</p>
    <p class='participating_countries'>Great Britain-Canada</p></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>02:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>02:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>02:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>03:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>03:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>03:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>03:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>04:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>04:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>04:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>04:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>05:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>05:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class='<div class=' event
        ' id='62022c811853fe6c508b52fb'><span class='start-time'>05:10</span>-<span class='end-time'>07:25</span>
        <span class='discipline'>Ice hockey</span> <span class='sex'>women</span>. <span
            class='description'>Group A</span>, <span class='competition_type'>preliminary round</span>. <p
            class='participating-countries'>Canada-Switzerland</p>
</div>-event' rowspan ='9'>
<div class='event' id='62022c811853fe6c508b52fb'><span class='start-time'>05:10</span>-<span
        class='end-time'>07:25</span>
    <span class='discipline'>Ice hockey</span> <span class='sex'>women</span>. <span class='description'>Group A</span>,
    <span class='competition_type'>preliminary round</span>. <p class='participating-countries'>Canada-Switzerland</p>
</div><p class='participating_countries'>Czech Republic-China</p></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td></tr>
<tr>
    <td><span class='time-slot'>05:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>05:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>06:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>06:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>06:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>06:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>07:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='<div class=' event
    ' id='62022c811853fe6c508b52f3'><span class='start-time'>07:05</span>-<span class='end-time'>09:00</span>
    <span class='discipline'>Curling</span> <span class='sex'>women, men</span>. <span
        class='description'>Mixed doubles</span>, <span class='competition_type'>round robin, session 3</span>. <p
        class='participating-countries'>Italy-Switzerland</p></div>-event' rowspan ='8'>
    <div class='event' id='62022c811853fe6c508b52f3'><span class='start-time'>07:05</span>-<span
            class='end-time'>09:00</span>
        <span class='discipline'>Curling</span> <span class='sex'>women, men</span>. <span class='description'>Mixed doubles</span>,
        <span class='competition_type'>round robin, session 3</span>. <p class='participating-countries'>
            Italy-Switzerland</p></div>
    <p class='participating_countries'>USA-Norway</p></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>07:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>07:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>07:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>08:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>08:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>08:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>08:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>09:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>09:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>09:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>09:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='<div class=' event
    ' id='62022c811853fe6c508b52fd'><span class='start-time'>09:40</span>-<span class='end-time'>11:55</span>
    <span class='discipline'>Ice hockey</span> <span class='sex'>women</span>. <span class='description'>Group B</span>,
    <span class='competition_type'>preliminary round</span>. <p class='participating-countries'>Sweden-Japan</p></div>
    -event' rowspan ='9'>
    <div class='event' id='62022c811853fe6c508b52fd'><span class='start-time'>09:40</span>-<span
            class='end-time'>11:55</span>
        <span class='discipline'>Ice hockey</span> <span class='sex'>women</span>. <span
                class='description'>Group B</span>, <span class='competition_type'>preliminary round</span>. <p
                class='participating-countries'>Sweden-Japan</p></div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>10:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>10:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>10:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>10:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>11:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='<div class=' event
    ' id='62022c811853fe6c508b52f9'><span class='start-time'>11:00</span>-<span class='end-time'>11:45</span>
    <span class='discipline'>Freestyle skiing</span> <span class='sex'>women</span>. <span
        class='description'>Moguls</span>, <span class='competition_type'>qualification 1</span>. </div>-event' rowspan
    ='3'>
    <div class='event' id='62022c811853fe6c508b52f9'><span class='start-time'>11:00</span>-<span
            class='end-time'>11:45</span>
        <span class='discipline'>Freestyle skiing</span> <span class='sex'>women</span>. <span class='description'>Moguls</span>,
        <span class='competition_type'>qualification 1</span>.
    </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>11:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>11:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>11:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>12:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>12:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>12:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>12:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='<div class=' event
    ' id='62022c811853fe6c508b52fa'><span class='start-time'>12:45</span>-<span class='end-time'>13:30</span>
    <span class='discipline'>Freestyle skiing</span> <span class='sex'>men</span>. <span
        class='description'>Moguls</span>, <span class='competition_type'>qualification 1</span>. </div>-event' rowspan
    ='3'>
    <div class='event' id='62022c811853fe6c508b52fa'><span class='start-time'>12:45</span>-<span
            class='end-time'>13:30</span>
        <span class='discipline'>Freestyle skiing</span> <span class='sex'>men</span>. <span
                class='description'>Moguls</span>, <span class='competition_type'>qualification 1</span>.
    </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>13:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='<div class=' event
    ' id='62022c811853fe6c508b52f5'><span class='start-time'>13:05</span>-<span class='end-time'>15:00</span>
    <span class='discipline'>Curling</span> <span class='sex'>women, men</span>. <span
        class='description'>Mixed doubles</span>, <span class='competition_type'>round robin, session 4</span>. <p
        class='participating-countries'>Norway-Canada</p></div>-event' rowspan ='8'>
    <div class='event' id='62022c811853fe6c508b52f5'><span class='start-time'>13:05</span>-<span
            class='end-time'>15:00</span>
        <span class='discipline'>Curling</span> <span class='sex'>women, men</span>. <span class='description'>Mixed doubles</span>,
        <span class='competition_type'>round robin, session 4</span>. <p class='participating-countries'>
            Norway-Canada</p></div>
    <p class='participating_countries'>Switzerland-Great Britain</p>
    <p class='participating_countries'>China-Sweden</p>
    <p class='participating_countries'>Czech Republic-Australia</p></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>13:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>13:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>13:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>14:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>14:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class='<div class=' event
    ' id='62022c811853fe6c508b52fe'><span class='start-time'>14:10</span>-<span class='end-time'>16:25</span>
    <span class='discipline'>Ice hockey</span> <span class='sex'>women</span>. <span class='description'>Group A</span>,
    <span class='competition_type'>preliminary round</span>. <p class='participating-countries'>Finland-USA</p></div>
    -event' rowspan ='9'>
    <div class='event' id='62022c811853fe6c508b52fe'><span class='start-time'>14:10</span>-<span
            class='end-time'>16:25</span>
        <span class='discipline'>Ice hockey</span> <span class='sex'>women</span>. <span
                class='description'>Group A</span>, <span class='competition_type'>preliminary round</span>. <p
                class='participating-countries'>Finland-USA</p></div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>14:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>14:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>15:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>15:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>15:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>15:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>16:00</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>16:15</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>16:30</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
    <td><span class='time-slot'>16:45</span></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr></table></div>
</div>