<table>
    <tr>
        <th></th>
        <th><span class='alpine'>Alpine skiing</span></th>
        <th><span class='biathlon'>Biathlon</span></th>
        <th><span class='bobsleigh'>Bobsleigh</span></th>
        <th><span class='cross-country'>Cross-country skiing</span></th>
        <th><span class='curling'>Curling</span></th>
        <th><span class='figure-skating'>Figure skating</span></th>
        <th><span class='freestyle'>Freestyle skiing</span></th>
        <th><span class='ice-hockey'>Ice hockey</span></th>
        <th><span class='luge'>Luge</span></th>
        <th><span class='noc'>Nordic combined</span></th>
        <th><span class='short-track'>Short track speed skating</span></th>
        <th><span class='skeleton'>Skeleton</span></th>
        <th><span class='ski-jumping'>Ski jumping</span></th>
        <th><span class='snowboard'>Snowboard</span></th>
        <th><span class='speed-skating'>Speed skating</span></th>
        <th><span class='ceremony'>Ceremony</span></th>
    </tr>
    <tr>
        <td><span class='time-slot'>01:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>01:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>02:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>02:05</span>-<span class='end-time'>04:00</span>
            <span class='discipline'>Curling</span> <span class='sex'>women, men</span>. <span class='description'>Mixed doubles</span>,
            <span class='competition_type'>round robin, session 13</span>. <p class='participating-countries'>
                Switzerland-Norway</p>
            <p class='participating_countries'>Canada-Italy</p>
            <p class='participating_countries'>USA-Great Britain</p>
            <p class='participating_countries'>Czech Republic-China</p></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>02:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>02:15</span>-<span class='end-time'>03:15</span>
            <span class='discipline'>Figure skating</span> <span class='sex'>women, men</span>. <span
                    class='description'>Pair skating, free skating</span>, <span
                    class='competition_type'>team event</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>02:30</span></td>
        <td><span class='start-time'>02:30</span>-<span class='end-time'>04:10</span>
            <span class='discipline'>Alpine skiing</span> <span class='sex'>women</span>. <span class='description'>Giant slalom</span>,
            <span class='competition_type'>run 1</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>02:30</span>-<span class='end-time'>03:15</span>
            <span class='discipline'>Freestyle skiing</span> <span class='sex'>women</span>. <span class='description'>Freeski big air</span>,
            <span class='competition_type'>qualification run 1</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>02:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>03:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>03:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>03:15</span>-<span class='end-time'>04:00</span>
            <span class='discipline'>Freestyle skiing</span> <span class='sex'>women</span>. <span class='description'>Freeski big air</span>,
            <span class='competition_type'>qualification run 2</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>03:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>03:30</span>-<span class='end-time'>04:30</span>
            <span class='discipline'>Figure skating</span> <span class='sex'>women, men</span>. <span
                    class='description'>Ice dance, free dance</span>, <span class='competition_type'>team event</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>03:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>04:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>04:00</span>-<span class='end-time'>04:45</span>
            <span class='discipline'>Freestyle skiing</span> <span class='sex'>women</span>. <span class='description'>Freeski big air</span>,
            <span class='competition_type'>qualification run 3</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>04:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>04:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>04:35</span>-<span class='end-time'>05:16</span>
            <span class='discipline'>Figure skating</span> <span class='sex'>women</span>. <span class='description'>Single skating, free skating</span>,
            <span class='competition_type'>team event, gold medal event</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>04:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>05:00</span></td>
        <td><span class='start-time'>05:00</span>-<span class='end-time'>07:30</span>
            <span class='discipline'>Alpine skiing</span> <span class='sex'>men</span>. <span class='description'>Downhill</span>,
            <span class='competition_type'>gold medal event</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>05:00</span>-<span class='end-time'>05:20</span>
            <span class='discipline'>Snowboard</span> <span class='sex'>men</span>. <span
                    class='description'>Slopestyle</span>, <span class='competition_type'>final run 1</span>.
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>05:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>05:10</span>-<span class='end-time'>07:35</span>
            <span class='discipline'>Ice hockey</span> <span class='sex'>women</span>. <span
                    class='description'>Group A</span>, <span class='competition_type'>preliminary round</span>. <p
                    class='participating-countries'>ROC-Canada</p></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>05:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>05:27</span>-<span class='end-time'>05:50</span>
            <span class='discipline'>Snowboard</span> <span class='sex'>men</span>. <span
                    class='description'>Slopestyle</span>, <span class='competition_type'>final run 2</span>.
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>05:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>06:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>05:54</span>-<span class='end-time'>06:30</span>
            <span class='discipline'>Snowboard</span> <span class='sex'>men</span>. <span
                    class='description'>Slopestyle</span>, <span
                    class='competition_type'>final run 3, gold medal event</span>.
        </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>06:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>06:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>06:30</span>-<span class='end-time'>07:15</span>
            <span class='discipline'>Freestyle skiing</span> <span class='sex'>men</span>. <span class='description'>Freeski big air</span>,
            <span class='competition_type'>qualification run 1</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>06:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>07:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>07:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>07:15</span>-<span class='end-time'>08:00</span>
            <span class='discipline'>Freestyle skiing</span> <span class='sex'>men</span>. <span class='description'>Freeski big air</span>,
            <span class='competition_type'>qualification run 2</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>07:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>07:45</span></td>
        <td><span class='start-time'>07:45</span>-<span class='end-time'>09:50</span>
            <span class='discipline'>Alpine skiing</span> <span class='sex'>women</span>. <span class='description'>Giant slalom</span>,
            <span class='competition_type'>run 2, gold medal event</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>08:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>08:00</span>-<span class='end-time'>08:45</span>
            <span class='discipline'>Freestyle skiing</span> <span class='sex'>men</span>. <span class='description'>Freeski big air</span>,
            <span class='competition_type'>qualification run 3</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>08:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>08:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>08:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>09:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>09:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>09:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>09:30</span>-<span class='end-time'>11:00</span>
            <span class='discipline'>Speed skating</span> <span class='sex'>women</span>. <span class='description'>1500m</span>,
            <span class='competition_type'>gold medal event</span>.
        </td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>09:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>09:40</span>-<span class='end-time'>11:55</span>
            <span class='discipline'>Ice hockey</span> <span class='sex'>women</span>. <span
                    class='description'>Group B</span>, <span class='competition_type'>preliminary round</span>. <p
                    class='participating-countries'>Denmark-Czech Republic</p></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>10:00</span></td>
        <td></td>
        <td><span class='start-time'>10:00</span>-<span class='end-time'>11:50</span>
            <span class='discipline'>Biathlon</span> <span class='sex'>women</span>. <span class='description'>15km Individual</span>,
            <span class='competition_type'>gold medal event</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>10:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>10:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>10:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>11:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>11:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>11:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>11:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>12:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>12:00</span>-<span class='end-time'>12:35</span>
            <span class='discipline'>Short track speed skating</span> <span class='sex'>women</span>. <span
                    class='description'>500m</span>, <span class='competition_type'>quarterfinals</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>12:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>12:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>12:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>12:50</span>-<span class='end-time'>14:00</span>
            <span class='discipline'>Luge</span> <span class='sex'>women</span>. <span
                    class='description'>Singles</span>, <span class='competition_type'>run 1</span>.
        </td>
        <td></td>
        <td><span class='start-time'>12:44</span>-<span class='end-time'>13:13</span>
            <span class='discipline'>Short track speed skating</span> <span class='sex'>men</span>. <span
                    class='description'>1000m</span>, <span class='competition_type'>quarterfinals</span>.
        </td>
        <td></td>
        <td><span class='start-time'>12:45</span>-<span class='end-time'>13:45</span>
            <span class='discipline'>Ski jumping</span> <span class='sex'>women, men</span>. <span class='description'>Mixed team</span>,
            <span class='competition_type'>first round</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>13:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>13:05</span>-<span class='end-time'>15:00</span>
            <span class='discipline'>Curling</span> <span class='sex'>women, men</span>. <span class='description'>Mixed doubles</span>,
            <span class='competition_type'>semi-final</span>. <p class='participating-countries'>Norway-Great
                Britain</p>
            <p class='participating_countries'>Italy-Sweden</p></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>13:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>13:13</span>-<span class='end-time'>13:20</span>
            <span class='discipline'>Short track speed skating</span> <span class='sex'>women</span>. <span
                    class='description'>500m</span>, <span class='competition_type'>semifinals</span>. <p
                    class='participating_countries'>
                Australia-Canada-China-France-Hungary-Italy-Japan-Netherlands-Korea-Turkey-USA</p></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>13:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>13:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>13:41</span>-<span class='end-time'>13:45</span>
            <span class='discipline'>Short track speed skating</span> <span class='sex'>women</span>. <span
                    class='description'>500m</span>, <span class='competition_type'>final B</span>. <p
                    class='participating_countries'>Belgium-Canada-China-Hungary-Japan-Netherlands-Korea-ROC-USA</p>
            <p class='participating_countries'>
                Australia-Canada-China-France-Hungary-Italy-Japan-Netherlands-Korea-Turkey-USA</p>
            <p class='participating_countries'>Canada-China-Italy-Netherlands-Poland-Korea-ROC-USA</p></td>
        <td></td>
        <td><span class='start-time'>13:51</span>-<span class='end-time'>14:45</span>
            <span class='discipline'>Ski jumping</span> <span class='sex'>women, men</span>. <span class='description'>Mixed team</span>,
            <span class='competition_type'>final round, gold medal event</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>14:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>13:58</span>-<span class='end-time'>14:25</span>
            <span class='discipline'>Short track speed skating</span> <span class='sex'>men</span>. <span
                    class='description'>1000m</span>, <span class='competition_type'>final A, gold medal event</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>14:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>14:10</span>-<span class='end-time'>16:35</span>
            <span class='discipline'>Ice hockey</span> <span class='sex'>women</span>. <span
                    class='description'>Group B</span>, <span class='competition_type'>preliminary round</span>. <p
                    class='participating-countries'>China-Sweden</p>
            <p class='participating_countries'>Switzerland-Finland</p></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>14:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class='start-time'>14:30</span>-<span class='end-time'>15:40</span>
            <span class='discipline'>Luge</span> <span class='sex'>women</span>. <span
                    class='description'>Singles</span>, <span class='competition_type'>run 2</span>.
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>14:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>15:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>15:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>15:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>15:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>16:00</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>16:15</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>16:30</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><span class='time-slot'>16:45</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>